* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
}

html {
    scroll-behavior: smooth; 
  }

.container-body {
    max-width: 2560px;
}

.sobre_mim {
    background-image: url("/img/a-sophisticated-corporate-background-design-featur-Lxui8DSsS5OvdByA14dLRQ-TEpn4zIBSSG9g1hpo8hG6A.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 10px;
    padding: 200px;
}


.sobre_mim_conteudo {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.conteudo_sobre {
    margin-left: 20px;
}

.conteudo_sobre h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.conteudo_sobre p {
    display: flex;
    font-size: 30px;
    margin-bottom: 100px;
}

.img_sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1800px;
}

.img_sobre img {
    width: 250px;
    padding: 20px;
    border-radius: 20%;
}

.sobre-links {
    color: inherit;
    text-decoration: none;
}


@media (max-width: 1024px){
    .sobre_mim{
        padding: 50px;
    }
    .sobre_mim_conteudo{
        flex-direction: column;
        gap: 0px;
    }
    
    .conteudo_sobre{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .conteudo_sobre h1{
        text-align: center;
        font-size: 30px;
    }
    .conteudo_sobre p {
        font-size: 20px;
        margin-bottom: 50px;
    }
    .img_sobre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 700px;
    }
    .img_sobre img{
        width: 200px;
    }
}

@media (max-width: 768px) {

    
    .sobre_mim {
        padding: 30px;
    }
    
    .conteudo_sobre h1 {
        font-size: 30px;
        text-align: center;
    }
    
    .conteudo_sobre p {
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    .img_sobre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 500px;
    }
    
    .img_sobre img {
        width: 150px;
    }
    
}

@media (max-width: 768px) {
    .img_sobre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 300px;
    }
}

@media (max-width: 320px){

    .conteudo_sobre p {
        font-size: 15px;

    }

    .img_sobre {
        width: 250px;
    }
    
    .conteudo_sobre h1 {
        font-size: 20px;
    }

}