* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
}

.sobre_mim{
    background-image: url(/img/a-sophisticated-corporate-background-design-featur-Lxui8DSsS5OvdByA14dLRQ-TEpn4zIBSSG9g1hpo8hG6A.jpeg);
    background-repeat: 2rem;
   
    padding: 200px;
    border-radius: 10px;
}



.sobre_mim a{
    
    text-decoration: none;
    font-size: 50px;
    padding: 15px;
}   


.sobre_mim_conteudo{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    
}

.conteudo_sobre{
    margin-left: 20px;
    width: 1000px;
}

.conteudo_sobre h1{
    font-size: 50px;
    padding-bottom: 20px;
    
}

.conteudo_sobre p{
    font-size: 30px;
    margin-bottom: 100px;
}


.img_sobre{

    width: 1000px;
    
}

.img_sobre img{
    width: 250px;
    padding: 20px;
    border-radius: 20%;
}

.sobre-links{
    
    color: inherit;
    text-decoration: none;
}